# Dependencies
**/node_modules/
.pnpm-store

# Next.js build
**/.next/
**/out/
**/build/

# Misc & OS
.DS_Store
*.pem
*.log

# Environment variables
.env
.env.*
!.env.example

# Vercel & TypeScript
.vercel
*.tsbuildinfo

# Uploads
**/public/uploads/*
!**/public/uploads/.gitkeep
.env*
